<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Assignment7.Practice_Exercise</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EconomyParkingiAtleast50LesserThanThatOfValetParking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addItemToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addItemToWishListAndVerifyWarningMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FilterSummerDressesAndVerifyPrize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
</table>
