<h2>Methods that were not run</h2><table>
<tr><td>Assignment7.Practice_Exercise.FilterSummerDressesAndVerifyPrize</td></tr>
<tr><td>Assignment7.Practice_Exercise.addItemToWishListAndVerifyWarningMessage</td></tr>
<tr><td>Assignment7.Practice_Exercise.addItemToCart</td></tr>
</table>