<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97cf78">  <td>19/01/05 14:50:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Practice_Exercise.AfterClass()[pri:0, instance:Assignment7.Practice_Exercise@457e2f02]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>19/01/05 14:49:55</td>   <td>-16138</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Practice_Exercise.BeforeClass()[pri:0, instance:Assignment7.Practice_Exercise@457e2f02]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1072601481</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>19/01/05 14:49:59</td>   <td>-12190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice_Exercise.EconomyParkingiAtleast50LesserThanThatOfValetParking()[pri:0, instance:Assignment7.Practice_Exercise@457e2f02]">EconomyParkingiAtleast50LesserThanThatOfValetParking</td> 
  <td>main@1072601481</td>   <td></td> </tr>
</table>
