<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Assignment5.HandlingDifferentWebobjectswithWebDriver</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ClickOnLinkElement8</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Top10Gainer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LaunchApplicatonAndFillFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Top10Loser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>Assignment4.LocatorAndxpath</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>WriteTextof6thAndLastButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TotalInputBoxesAvailableOnForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ColorCodeoftheBoxWithTitleChangeColor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CountTotalNumberofButtonAvailableOnTheForm</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>Assignment3.InteractWithWebpageWithWebDriver</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>DisplayTitleofTheLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnterContactUsForm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AfterEnteringEmailAddressClickOnSubscribeButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GoToBackPage</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>Assignment7.Practice_Exercise</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>EconomyParkingiAtleast50LesserThanThatOfValetParking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addItemToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addItemToWishListAndVerifyWarningMessage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>FilterSummerDressesAndVerifyPrize</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
<tr>
<td>Assignment2.LaunchTestCasesOnBrowsers</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LaunchTestCasesOngeckoBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LaunchTestCasesOnIEBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LaunchTestCasesOnSafariBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LaunchTestCasesOnChromeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>Assignment6.Assertion</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHomePageIsRenderdAfterClickingOnYourLogo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Palindrome</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AssertionFor3isGreaterThen5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AssertionFor3and5areNotEqual</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyContactUsPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyNoResultForSerachKeyword</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AfterClass</td>
<td>&nbsp;</td></tr>
</table>
