<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96f0f5">  <td>19/01/07 11:59:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchTestCasesOnBrowsers.LaunchTestCasesOnChromeBrowser()[pri:0, instance:Assignment2.LaunchTestCasesOnBrowsers@39aeed2f]">LaunchTestCasesOnChromeBrowser</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/01/07 11:59:31</td>   <td>10136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchTestCasesOnBrowsers.LaunchTestCasesOnIEBrowser()[pri:0, instance:Assignment2.LaunchTestCasesOnBrowsers@39aeed2f]">LaunchTestCasesOnIEBrowser</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/01/07 11:59:34</td>   <td>13175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchTestCasesOnBrowsers.LaunchTestCasesOnSafariBrowser()[pri:0, instance:Assignment2.LaunchTestCasesOnBrowsers@39aeed2f]">LaunchTestCasesOnSafariBrowser</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/01/07 11:59:34</td>   <td>13197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LaunchTestCasesOnBrowsers.LaunchTestCasesOngeckoBrowser()[pri:0, instance:Assignment2.LaunchTestCasesOnBrowsers@39aeed2f]">LaunchTestCasesOngeckoBrowser</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/07 12:00:05</td>   <td>44640</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;InteractWithWebpageWithWebDriver.BeforeClass()[pri:0, instance:Assignment3.InteractWithWebpageWithWebDriver@724af044]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/07 12:00:18</td>   <td>57357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InteractWithWebpageWithWebDriver.AfterEnteringEmailAddressClickOnSubscribeButton()[pri:0, instance:Assignment3.InteractWithWebpageWithWebDriver@724af044]">AfterEnteringEmailAddressClickOnSubscribeButton</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/07 12:00:24</td>   <td>63022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InteractWithWebpageWithWebDriver.DisplayTitleofTheLink()[pri:0, instance:Assignment3.InteractWithWebpageWithWebDriver@724af044]">DisplayTitleofTheLink</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/07 12:00:24</td>   <td>63108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InteractWithWebpageWithWebDriver.EnterContactUsForm()[pri:0, instance:Assignment3.InteractWithWebpageWithWebDriver@724af044]">EnterContactUsForm</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/07 12:00:31</td>   <td>69912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InteractWithWebpageWithWebDriver.GoToBackPage()[pri:0, instance:Assignment3.InteractWithWebpageWithWebDriver@724af044]">GoToBackPage</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>19/01/07 12:00:52</td>   <td>91252</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;InteractWithWebpageWithWebDriver.AfterClass()[pri:0, instance:Assignment3.InteractWithWebpageWithWebDriver@724af044]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/07 12:00:52</td>   <td>91282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LocatorAndxpath.BeforeClass()[pri:0, instance:Assignment4.LocatorAndxpath@4678c730]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/07 12:01:03</td>   <td>101879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatorAndxpath.ColorCodeoftheBoxWithTitleChangeColor()[pri:0, instance:Assignment4.LocatorAndxpath@4678c730]">ColorCodeoftheBoxWithTitleChangeColor</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/07 12:01:03</td>   <td>101941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatorAndxpath.CountTotalNumberofButtonAvailableOnTheForm()[pri:0, instance:Assignment4.LocatorAndxpath@4678c730]">CountTotalNumberofButtonAvailableOnTheForm</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/07 12:01:03</td>   <td>101981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatorAndxpath.TotalInputBoxesAvailableOnForm()[pri:0, instance:Assignment4.LocatorAndxpath@4678c730]">TotalInputBoxesAvailableOnForm</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/07 12:01:03</td>   <td>102031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LocatorAndxpath.WriteTextof6thAndLastButton()[pri:0, instance:Assignment4.LocatorAndxpath@4678c730]">WriteTextof6thAndLastButton</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="69b8da">  <td>19/01/07 12:01:03</td>   <td>102145</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LocatorAndxpath.AfterClass()[pri:0, instance:Assignment4.LocatorAndxpath@4678c730]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>19/01/07 12:01:03</td>   <td>102295</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HandlingDifferentWebobjectswithWebDriver.ClickOnLinkElement8()[pri:0, instance:Assignment5.HandlingDifferentWebobjectswithWebDriver@6767c1fc]">ClickOnLinkElement8</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>19/01/07 12:02:03</td>   <td>162158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HandlingDifferentWebobjectswithWebDriver.LaunchApplicatonAndFillFields()[pri:0, instance:Assignment5.HandlingDifferentWebobjectswithWebDriver@6767c1fc]">LaunchApplicatonAndFillFields</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>19/01/07 12:02:11</td>   <td>169708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HandlingDifferentWebobjectswithWebDriver.Top10Gainer()[pri:0, instance:Assignment5.HandlingDifferentWebobjectswithWebDriver@6767c1fc]">Top10Gainer</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>19/01/07 12:02:28</td>   <td>187325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HandlingDifferentWebobjectswithWebDriver.Top10Loser()[pri:0, instance:Assignment5.HandlingDifferentWebobjectswithWebDriver@6767c1fc]">Top10Loser</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>19/01/07 12:02:50</td>   <td>209293</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HandlingDifferentWebobjectswithWebDriver.AfterClass()[pri:0, instance:Assignment5.HandlingDifferentWebobjectswithWebDriver@6767c1fc]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/07 12:02:52</td>   <td>211668</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Assertion.BeforeClass()[pri:0, instance:Assignment6.Assertion@29ee9faa]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/07 12:03:05</td>   <td>223774</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assertion.AssertionFor3and5areNotEqual()[pri:0, instance:Assignment6.Assertion@29ee9faa]">AssertionFor3and5areNotEqual</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/07 12:03:05</td>   <td>223782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assertion.AssertionFor3isGreaterThen5()[pri:0, instance:Assignment6.Assertion@29ee9faa]">AssertionFor3isGreaterThen5</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/07 12:03:05</td>   <td>223786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assertion.Palindrome()[pri:0, instance:Assignment6.Assertion@29ee9faa]">Palindrome</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/07 12:03:05</td>   <td>223790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assertion.VerifyContactUsPage()[pri:0, instance:Assignment6.Assertion@29ee9faa]">VerifyContactUsPage</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/07 12:03:07</td>   <td>225872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assertion.VerifyHomePageIsRenderdAfterClickingOnYourLogo()[pri:0, instance:Assignment6.Assertion@29ee9faa]">VerifyHomePageIsRenderdAfterClickingOnYourLogo</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/07 12:03:13</td>   <td>232111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assertion.VerifyNoResultForSerachKeyword()[pri:0, instance:Assignment6.Assertion@29ee9faa]">VerifyNoResultForSerachKeyword</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="9fcdbd">  <td>19/01/07 12:03:16</td>   <td>235562</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assertion.AfterClass()[pri:0, instance:Assignment6.Assertion@29ee9faa]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/07 12:03:17</td>   <td>235746</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Practice_Exercise.BeforeClass()[pri:0, instance:Assignment7.Practice_Exercise@c038203]">&gt;&gt;BeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/07 12:03:19</td>   <td>238457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice_Exercise.EconomyParkingiAtleast50LesserThanThatOfValetParking()[pri:0, instance:Assignment7.Practice_Exercise@c038203]">EconomyParkingiAtleast50LesserThanThatOfValetParking</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/07 12:03:31</td>   <td>250418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice_Exercise.FilterSummerDressesAndVerifyPrize()[pri:0, instance:Assignment7.Practice_Exercise@c038203]">FilterSummerDressesAndVerifyPrize</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/07 12:03:52</td>   <td>271507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice_Exercise.addItemToCart()[pri:0, instance:Assignment7.Practice_Exercise@c038203]">addItemToCart</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/07 12:04:24</td>   <td>303651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Practice_Exercise.addItemToWishListAndVerifyWarningMessage()[pri:0, instance:Assignment7.Practice_Exercise@c038203]">addItemToWishListAndVerifyWarningMessage</td> 
  <td>main@832947102</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/07 12:06:00</td>   <td>399369</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Practice_Exercise.AfterClass()[pri:0, instance:Assignment7.Practice_Exercise@c038203]">&lt;&lt;AfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@832947102</td>   <td></td> </tr>
</table>
